/*.dl1{
	width: 350px;
	height: 350px;
	margin: 0 auto;
}
body{
	text-align:center;
} 
.pc{
       margin:0 auto;
	
}

.img{
  background: url("../download/DELENA.jpg");
  background-size: 100% 100%;
  height: 100%;
  position: fixed;
  width: 100%;
}*/
 *{
            margin: 0;
            padding: 0
        }
        .pc{
            width: 100%;
            height:53vw
        }
        .pc img{
            width: 100%;
}
		
